body
{
margin: 0 0 0 0;
padding: 0 0 0 0;
border: none;

color: #000000;
background-color: #FFFFFF;

text-align: center;

font-family: Helvetica, Arial, sans-serif;
font-size: 1em;
}

#board
{
width: auto;
}

#board table
{
/*
table-layout: fixed;
*/

border-collapse: separate; /* collapse ==== zero 'cellspacing' */
border-spacing: 0 0; /* horizontal, vertical */

border: 4px solid #999999;

margin: auto;
padding: 20px;

background-color: #306754;
}

#board tr
{
margin: 0;
padding: 0;

border: none;

background-color: #333333;
}

#board td
{
margin: 0;
padding: 0; /* table 'cellpadding' */

border: 2px solid green;

background-color: red;

text-align: center;
vertical-align: middle;

/*
width: 4em;
height: 4em;
*/

white-space: normal;
overflow: hidden;

/*
text-overflow: ellipsis;
*/
}

#board td.DoubleWord
{
border: 2px dashed #FBBBB9;
background-color: #306754;
}

#board td.TripleWord
{
border: 2px dashed #F75D59;
background-color: #306754;
}

#board td.Normal
{
border: 2px solid #306754;
background-color: #333333;
}

#board td.DoubleLetter
{
border: 2px dashed #A0CFEC;
background-color: #306754;
}

#board td.TripleLetter
{
border: 2px dashed #6698FF;
background-color: #306754;
}

#board td a
{
width: 50px; /* 4.5em */
height: 50px;

text-decoration: none;

display: block; /* table-cell */

margin: 0;
padding: 0;

border: none;

text-align: center;
vertical-align: middle;

font-family: Helvetica, Arial, sans-serif;
font-size: 0.6em;
letter-spacing: 0.1em;

line-height: 1.7em;
}

#board td a span
{
margin: 0;
padding: 0;

/*
text-align: center;
vertical-align: middle;
*/
}

#board td.DoubleWord a
{
background-color: #FBBBB9;

border: 2px solid #FBBBB9;
}

#board td.TripleWord a
{
background-color: #F75D59;

border: 2px solid #F75D59;
}

#board td.Normal a
{
background-color: #4E9258;

border: 2px solid #4E9258;
}

#board td.DoubleLetter a
{
background-color: #A0CFEC;

border: 2px solid #A0CFEC;
}

#board td.TripleLetter a
{
background-color: #6698FF;

border: 2px solid #6698FF;
}

#board td a.Tile
{
background-color: #ECE5B6;

border: 2px outset #FFF8C6;

-moz-border-radius: 4px;
border-radius: 4px;
}

#board td a.Tile
{
font-size: 1.2em;
line-height: 2.5em;
}

#board td a.Tile span.Letter
{
font-weight: bold;
margin-left: 0.5em;
padding-top: 0.5em;
}

#board td a.Tile span.Score
{
vertical-align: sub;
font-size: 60%;
}
