
div.tableDivWrap
{
    margin: 0;
    padding: 0;
}

div.surroundShade table,
div.bottomShade table
{
    -webkit-box-shadow: 0 0 0.5em #000000;
    -moz-box-shadow: 0 0 0.5em #000000;
    -ms-box-shadow: 0 0 0.5em #000000;
    -o-box-shadow: 0 0 0.5em #000000;
    box-shadow: 0 0 0.5em #000000;
}

div#container
{
    width: 58em;
}

div#letterbagStatus > div
{
    margin: 0.5em;
}

div#controls
{
    float: left;
    margin: 1em;
    margin-top: 2em;
    width: 18.6em;
}

div#controls > div
{
    background-color: #F7F7E3;
    border-color: #DCDCC6;

    border-style: solid;
	
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    border-radius: 0.4em;

    margin-bottom: 0.4em;
    padding: 0.4em;
}

div#log {
    height: 10em;
    overflow: auto;
}

div#log span.score {
    padding-left: 0.5em;
}

div#log .moveDetail {
    margin-left: 4em;
}

div#log > div {
    margin-top: 0.4em;
}

div#log > div > div {
    margin-top: 0.2em;
}

div#scoreboard {
    min-height: 4em;
}

div#scoreboard td.online {
    color: green;
}

div#scoreboard td.offline {
    color: red;
}

div#whosturn {
    height: 1em;
}

div#move {
    margin-bottom: 0.5em;
}

div#chat {
    height: 6em;
}

div#chatLog {
    font-size: 0.8em;
    overflow: auto;
    margin-left: 5%:
    border-width: 1em;
    width: 98%;
    height: 4em;
}

div#messageInput {
    margin-top: 1em;
    width: 100%;
}

div#messageInput input {
    width: 95%;
}

div#turnControls {
    display: none;
}

div#blankLetterRequester {
    display: none;
    font-size: 2em;
}

button {
    font-size: 1em;
}

#rackButtons {
    margin-right: 0.5em;
}

#rack button {
    font-size: 0.9em;
}

#TakeBackTiles {
    visibility: hidden;
}

button#dummyInput {
    /* The hidden dummy input button has the focus to capture keyboard events.  This is a hack. */
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    cursor: default;
    outline: 0;
    width: 0px;
    height: 0px;
}

div#blankLetterRequester button {
    font-size: 1em;
}

div#rackButtons {
    float: left;
    clear: left;
    horizontal-align: right;
}

div#boardWrap
{
    margin-top: 1em;
    float: right;
    width: 37em;
}

div.tableDivWrap table
{
    border-collapse: separate;
    border-spacing: 0 0;

    border-width: 0.2em;
    border-style: solid;
    border-color:  #54534A;

    margin-top: 1em;
    margin-bottom: 1em;

    padding: 0.2em;

    background-color: #AAA38E;
}

div#rack table,
div#swapRack table
{
    border-width: 0.2em;
    padding: 0.2em;
}

div.tableDivWrap tr
{
    margin: 0;
    padding: 0;

    border: none;
}

div.tableDivWrap td, div.tableDivWrap th
{
    margin: 0;
    padding: 0;

    border: none;

    white-space: normal;
    overflow: hidden;

    border-width: 0.122em;
    border-style: dotted;

    background-color: #BEB9A6;
}

div.tableDivWrap td.Normal
{
    border-style: solid;
    border-color: #AAA38E;
}

div.tableDivWrap td.DoubleWord,
div.tableDivWrap td.TripleWord,
div.tableDivWrap td.DoubleLetter,
div.tableDivWrap td.TripleLetter
{
    background-color: #AAA38E;
}

div.tableDivWrap td.DoubleWord
{
    border-color: #FBBBB9;
}

div.tableDivWrap td.TripleWord
{
    border-color: #F75D59;
}

div.tableDivWrap td.DoubleLetter
{
    border-color: #A0CFEC;
}

div.tableDivWrap td.TripleLetter
{
    border-color: #157DEC;
}

div.tableDivWrap td div
{
    display: block;

    margin: 0;
    padding: 0;

    border: none;

    width: 2em;
    height: 2em;

    border-style: solid;
    border-width: 0.15em;

    background-color: red;

    cursor: crosshair;

    color: #333333;
}

div.tableDivWrap td div a
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    text-decoration: none;

    display: block;

    margin: 0;
    padding: 0;

    border: none;

    text-align: center;
}

@-webkit-keyframes glow
{
    0% {
        border: 0.15em solid #FF9900;
    }
    100% {
        border: 0.15em solid #DC143C;
    }
}

@-moz-keyframes glow
{
    0% {
        border: 0.15em solid #FF9900;
    }
    100% {
        border: 0.15em solid #DC143C;
    }
}

@keyframes glow
{
    0% {
        border: 0.15em solid #FFFFFF;
    }
    100% {
        border: 0.15em solid #333333;
    }
}

div.tableDivWrap td.DoubleWord div
{
    background-color: #FBBBB9;
    border-color: #FBBBB9;
    color: #F75D59;
}

div.tableDivWrap td.TripleWord div
{
    background-color: #F75D59;
    border-color: #F75D59;
    color: #8B0000;
}

div.tableDivWrap td.Normal div
{
    background-color: #BEB9A6;
    border-color: #BEB9A6;
}

div.tableDivWrap td.DoubleLetter div
{
    background-color: #A0CFEC;
    border-color: #A0CFEC;
    color: #157DEC;
}

div.tableDivWrap td.TripleLetter div
{
    background-color: #157DEC;
    border-color: #157DEC;
    color: #000080;
}

div.tableDivWrap td.SpecialField div.Empty a
{
    font-size: 0.50em;
    padding-top: 0.0em;
    line-height: 1.4em;
    letter-spacing: 0.0em;
}

div.tableDivWrap td.StartField div.Empty a
{
    font-size: 1.3em;
}

div.tableDivWrap td div.Tile
{
    cursor: move;
    background-color: #F7F7E3;
    border-color: #DCDCC6;
    border-style: solid;
	
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    border-radius: 0.2em;
}

div.tableDivWrap td div.Tile a
{
}

div.tableDivWrap td div.Locked
{
    cursor: default;
    color: #474633;
}

div.tableDivWrap td div.Temp
{
    border-color: #626258;
}

div.tableDivWrap td div.CenterStart
{
    border-color: #AAA38E;
}

div.tableDivWrap td div.Temp:hover
{
    color: #000000 !important;

    border-color: #FF9900;
}

div.tableDivWrap td div.Selected,
.dragBorder
{
    color: #000000 !important;

    -webkit-animation-name: glow;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: glow;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: linear;

    -ms-animation-name: glow;
    -ms-animation-duration: 0.5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: alternate;
    -ms-animation-timing-function: linear;

    -o-animation-name: glow;
    -o-animation-duration: 0.5s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-timing-function: linear;
	
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

    border-color: #DC143C !important;
}

.dragBorder
{
    -webkit-box-shadow: 0px 0px 0.5em #333333;
    -moz-box-shadow: 0px 0px 0.5em #333333;
    -ms-box-shadow: 0px 0px 0.5em #333333;
    -o-box-shadow: 0px 0px 0.5em #333333;
    box-shadow: 0px 0px 0.5em #333333;

    z-index: 1000;
}

div.tableDivWrap td div.dropActive,
div.tableDivWrap td div.Targeted
{
    cursor: pointer;

    border-color: #333333 !important;
}

div.tableDivWrap td div a span
{
    margin: 0;
    padding: 0;
}

div.tableDivWrap td div.Tile a span.Letter,
div.tableDivWrap td div.Tile a span.BlankLetter
{
    font-size: 1.2em;
    font-weight: normal;

    line-height: 1.6em;

    padding-left: 0.2em;
}

@-moz-document url-prefix(http://)
{
	div.tableDivWrap td div.Tile a span.Letter,
	div.tableDivWrap td div.Tile a span.BlankLetter
    {
	    line-height: 1.8em;
    }
}

div.tableDivWrap td div.Tile a span.Score
{
    font-size: 0.8em;
    vertical-align: sub;
    padding-left: 0.2em;
}

div.tableDivWrap td div.Cursor a
{
    line-height: 1.0em;
    font-size: 2.0em;
    font-weight: normal;
    color: #54534A;
}

div.tableDivWrap td div.CenterStart a
{
    font-size: 2.8em;
    color: #54534A;
}

/*\*/
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    body:nth-of-type(1) div.tableDivWrap td div.CenterStart a
    {
        margin-top: -0.22em;
        font-size: 1.8em;
    }
}
/**/

@-moz-document url-prefix(http://)
{
    div.tableDivWrap td div.CenterStart a
    {
        margin-top: -0.35em;
        font-size: 3.22em;
    }
}

div.tableDivWrap td div.BlankLetter a
{
    border-left: 0.2em solid #ADFF2F;
    border-right: 0.2em solid #ADFF2F;
}

div.tableDivWrap td.Invalid
{
    border-style: solid;
    border-color: red;
    background-color: red;
}

div.tableDivWrap td.Valid
{
    border-style: solid;
    border-color: green;
    background-color: green;
}

div.tableDivWrap td.ValidButWrongPlacement
{
    border-style: solid;
    border-color: orange;
    background-color: orange;
}

div#anagrams table
{
    width: 80%;
}

div#anagrams td, div#anagrams th
{
    margin: 0;
    padding: 1em;
}

div#anagrams th
{
    border: none;
}
